<div>
  <h3>Selected Phrase Details</h3>

  <ng-container *ngIf="authService.isLoggedIn; then isAuth; else notIsAuth"></ng-container>

  <div class="btn-group">
    <button (click)="goToPhrasesList()" type="button">Go to phrases list</button>
  </div>
</div>

<ng-template #isAuth>
  <div>Value: <input [(ngModel)]="editValue" type="text"></div>
  <div>Language: <input [(ngModel)]="editLanguage" type="text"></div>

  <div *ngIf="isPhraseChanged()" class="inline-btn">
    <button (click)="save()" type="button">Save</button>
  </div>

</ng-template>

<ng-template #notIsAuth>
  <div>Value: {{phrase.value}}</div>
  <div>Language: {{phrase.language}}</div>
</ng-template>
